:root {
  font-family: "Segoe UI", Candara, Optima, sans-serif;
  color: #17233a;
  background: #f4f6f8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  min-width: 20rem;
  min-height: 100vh;
  margin: 0;
}
